.user-item{padding:0 0 20px 110px;position:relative;border-bottom:1px solid #ccc;margin-top:20px}
.user-item.first{margin-top:0;}
.user-item.last{border:0;}
.user-item .avatar{position:absolute;left:20px;top:0;}
.user-item p{font-size:12px;}
.user-item p.main-info{height:20px;line-height:20px;margin-bottom:10px;}
.user-item p s{background-image:url(/Custom/source/images/icon_gender.png);width:16px;height:15px;display:inline-block;vertical-align:text-bottom;}
.user-item .name{font-size:16px;}
.user-item p.data span{font:12px/1.5 helvetica,arial,"hiragino sans gb",\5b8b\4f53,sans-serif;background:url(/Custom/source/images/ind_icon.png) no-repeat;color:#959595;margin-right:5px;}
.user-item p.data span.u-share{padding-left:19px;background-position:0 1px;}
.user-item p.data span.u-like{padding-left:17px;background-position:0 -39px;}
.user-item p.data span.u-follow{padding-left:17px;background-position:0 -19px;}
.user-item p.data span.u-group{padding-left:19px;background-position:0 -59px;}
.user-item p.address span{display:inline-block;font-size:12px;color:#999;vertical-align:middle;margin:6px 0;padding:1px 2px;line-height:1;white-space:nowrap;border:1px solid #ccc;}
.user-item p.user-desc span{color:#333;}
.user-item p.user-desc span i{color:#ccc;font-size:24px;vertical-align:middle;}
.user-item p.user-desc span i.l{margin-right:5px;}
.user-item p.user-desc span i.r{margin-left:5px;}
.user-item .user-actions{position:absolute;right:0;top:0;}
.user-item:hover .user-actions{display:block;}
.user-list-more{text-align:center;height:35px;line-height:35px;background:#FAFAFA;}
.user-list-more:hover{background:#FDFDFD;}
.user-list-more a{color:#333;font-weight:bold;}