.ellipsis{display:inline-block;white-space:nowrap;word-wrap:normal;width:100%;overflow:hidden;-ms-text-overflow:ellipsis;-o-text-overflow:ellipsis;-webkit-text-overflow:ellipsis;text-overflow:ellipsis;}
.YaHei{font-family:'Microsoft YaHei',SimHei;}
/*
.guang-category li{float:left;text-align:center;padding:0 20px;}
.guang-category li img{opacity:0.4;-moz-border-radius:50%;-ms-border-radius:50%;-webkit-border-radius:50%;border-radius:50%;}
.guang-category li p{color:#ccc;}
.guang-category li:hover img,.guang-category li.active img{opacity:1;}
.guang-category li:hover p,.guang-category li.active p{color:#fb2b5e;font-weight:bold;}
.main-actions{float:right;}
*/
.share-wall{position:relative;height:2000px;}
.share-wall .select-box{position:absolute;width:230px;height:500px;border:1px solid #ccc;left:0;top:0;}
.share-wall .top-recommend{position:absolute;width:714px;height:200px;border:1px solid #ccc;left:242px;top:0;}
.share-wall .right-recommend{position:absolute;width:230px;height:900px;border:1px solid #ccc;left:726px;top:212px;}
.share-wall .wall-grid{width:230px;height:400px;border:1px solid #ccc;}