.magazine-grid-more:hover,.wall-grid-more:hover{opacity:1;}
.share-container{float:right;width:474px;margin-left:10px;}
.share-wrap{margin-right:-10px;}
.short-list{overflow:hidden;}
.magazine-grid-more,.wall-grid-more{width:474px;height:45px;line-height:45px;background:#aaa;font-size:20px;text-align:center;color:#fff;opacity:.5;cursor:pointer;}
.magazine-grid-more{margin-bottom:20px;}

.short-list{padding-right:10px;border-right:1px dashed #ccc;}
.short-box{border:1px solid #DADADA;border-top:2px solid #FB2B5E;margin-bottom:10px;background:#F2F0F0;-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .1);box-shadow:0 1px 3px rgba(0, 0, 0, .1);}
.short-box h3,.short-box .list-more{text-align:center;}
.short-box h3{line-height:45px;height:45px;color:#3E3E3E;}
.short-box .list-more{line-height:45px;height:45px;border-top:1px solid #fff;}
.short-box .list-more a{color:#ccc;}
.short-box .list-more:hover{background:#FB2B5E;}
.short-box .list-more:hover a{color:#fff;}
.box-wrap{padding:10px;}
.friend-list{margin-right:-10px;}
.friend-list a{float:left;margin:0 10px 10px 0;}
.friend-list a img{display:block;}
.group-list{}
.group-item{position:relative;padding:20px 0 20px 110px;min-height:80px;text-align:left;border-bottom:1px dashed #fff;}
.group-item.last{border:0;}
.group-item .avatar{position:absolute;left:0;top:10px;}
.group-item .avatar img{display:block;}
.group-item h4{font-size:14px;}
.group-item .data span{font:12px/1.5 helvetica,arial,"hiragino sans gb",\5b8b\4f53,sans-serif;background:url(/Custom/source/images/ind_icon.png) no-repeat;color:#959595;}
.group-item .data span.view{padding-left:19px;background-position:0 1px;}
.group-item .data span.reply{padding-left:17px;background-position:0 -19px;}
.group-item  p{font-size:12px;color:#808080;}