.page#page-Reg{margin:30px auto 0;}
.page#page-Reg .hd .logo{overflow:hidden;width:251px;height:60px;margin:0 auto 40px;font-size:46px;font-weight:bold;font-family:"Microsoft Yahei";color:#577570;text-align:center;}
.page#page-Reg .bd{margin:0 auto;overflow:hidden;text-align:center;}
.page#page-Reg .form-item{margin-bottom:10px;}
.page#page-Reg .form-item input[type="email"],.page#page-Reg .form-item input[type="password"],.page#page-Reg .form-item input[type="text"]{width:80%;max-width:300px;height:26px;line-height:26px;}
.page#page-Reg .bd .fix-width{width:88%;max-width:326px;}
.page#page-Reg .bd .btn-submit{padding:10px;margin:0;border:none;background:#95b93d;font-size:20px;font-weight:bold;color:#fff;cursor:pointer;}
.page#page-Reg .sign-in-btn .desc{margin:0 auto;padding:15px 0;color:#999;font-size:12px;}
.page#page-Reg .bd .form-item .desc a{color:#999;}
.page#page-Reg .bd .sign-nav{margin:30px auto 0;padding:15px 0;font-size:14px;color:#999;background:url(/Store/source/images/sign-page-line.png) no-repeat 50% 0;}
.page#page-Reg .bd .form-item .select{width:87%;max-width:324px;margin:0 auto;height:42px;line-height:44px;color:#aaa;background-color:#f9f9f9;border:1px solid #fff;}
.page#page-Reg .bd .form-item .select:hover{border-color:#95b93d;cursor:pointer;}
.page#page-Reg .bd .form-item .select .store-category{overflow:hidden;}