*{margin:0;padding:0;}
html,body{height:100%;font-size:12px;}
a{
    text-decoration:none;
    color: black;
}
.none{display: none;}
.content{height:100%;text-align:center;}
.content .submenu{
    border-bottom: 1px solid #CCC;
    height: 29px;
}
.content .submenu a{
    height: 18px;
    float: left;
    margin-left: 10px;
    padding: 5px;
    color:black;
    background-color: #F1F1F1;
    border: 1px solid #CCC;
    border-radius: 5px 5px 0 0;
    text-decoration: none;
}
.content .submenu a.current{
    background-color: black;
    color: white;
}
.content .bar-header{
    padding-right: 20px;
    height:30px;
    text-align:right;
    line-height: 30px;
    background:#f1f1f1; 
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#f1f1f1)); 
    background:-moz-linear-gradient(top, #fff, #f1f1f1);  
    background:-o-linear-gradient(top, #fff, #f1f1f1); 
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff, endColorstr=#f1f1f1, GradientType=0); 
    position:relative; *zoom:1;
}
.content .list .list-header{
    height:40px;
}