.menu-header{padding:15px 0 4px;border-bottom:1px solid #ABC4BD;}
.menu-header .menu-title{font-size:20px;line-height:20px;font-weight:bold;color:#333;text-align:left;}
.menu-header .menu-desc{font-size:10px;color:#666;line-height:1.5;margin:4px 0 0 0;padding-bottom:4px;border-bottom:4px solid #ABC4BD;}